.searchresults-component
  margin: 20px
li
  list-style: none
.left
  float: left

.clearfix:before,
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  zoom: 1

.right
  float: right
.place-profile-container
  border-bottom: 1px dashed lightblue
  width: 50%
.place-icon
  width: 30px

a
  color: blue
  cursor: pointer
  text-decoration: underline
