/* Base Application Styles */
body {
  color: #rgb(0, 99, 158);
  background: #rgb(218, 218, 218);
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.placePanel {
  border: 1px dashed lightblue;
  width: 49%;
  float: left;
}

.tagPanel {
  border: 1px dashed lightblue;
  width: 49%;
  float: right;
}
